<div class="general-graph-comparison">
  <h3>General graph comparison</h3>
  <div class="graph-with-legend">
    <div class="graph">
      <i class="fa fa-download"></i>
      <canvas id="radar" class="chart chart-radar"
        chart-data="vm.series"
        chart-labels="vm.labels"
      >
      </canvas>
    </div>
    <div class="legend">
      <div class="panel">
        <ul>
          <li ng-repeat="legend in vm.series">
            <span ng-if="$index === 0" class="legend-color reference">Reference area</span>
            <span ng-if="$index > 0" class="legend-color area{{$index}}">Compared area {{$index}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
