.general-graph-comparison
  background #f4
  padding 5px

.graph-with-legend
  background #df
  display flex
  .graph
    width 70%
  .legend
    display flex
    flex-direction column-reverse
    background black
    width 30%
    .panel
      background white
      margin 10px
      border-radius 3px
